<%= form_for(encontro) do |f|%>
  <% if encontro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encontro.errors.count, "error") %> prohibited this encontro from being saved:</h2>

      <ul>
      <% encontro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal">
  <div class="form-group">
    <%= f.label :titulo , class:"col-sm-2 control-label"%>
    <div class="col-sm-10">
    	<%= f.text_field :titulo, class:"form-control" %>
    </div>
  </div>
<br />
  <div class="form-group">
    <%= f.label :descricao , class:"col-sm-2 control-label"%>
    <div class="col-sm-10">
	    <%= f.text_area :descricao, class:"form-control" %>
    </div>
  </div>
<br />
  <div class="form-group">
    <%= f.label :tema , class:"col-sm-2 control-label"%>
	<div class="col-sm-10">
	    <%= f.text_field :tema, class:"form-control" %>
	</div>
  </div>
<br />
  <div class="form-group">
    <%= f.label :inicio_inscricoes, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
	    <%= f.text_field :inicio_inscricoes, class:"form-control", type:"date" %>
    </div>
  </div>
<br />

  <div class="form-group">
    <%= f.label :fim_inscricoes , class:"col-sm-2 control-label"%>
    <div class="col-sm-10">
	    <%= f.text_field :fim_inscricoes, class:"form-control", type:"date" %>
    </div>
  </div>
<br />

 <div class="form-group">
    <%= f.label :inicio_encontro , class:"col-sm-2 control-label"%>
    <div class="col-sm-10">
	    <%= f.text_field :inicio_encontro, class:"form-control", type:"date" %>
    </div>
  </div>

<br />

 <div class="form-group">
    <%= f.label :fim_encontro , class:"col-sm-2 control-label"%>
    <div class="col-sm-10">
	    <%= f.text_field :fim_encontro, class:"form-control", type:"date" %>
    </div>
  </div>

<br />
 <div class="form-group">
    <%= f.label :valor , class:"col-sm-2 control-label"%>
    <div class="col-sm-10">
	    <%= f.text_field :valor, class:"form-control", type:"decimal" %>
    </div>
  </div>

<br />
 <div class="form-group">
    <%= f.label :quant_max , class:"col-sm-2 control-label"%>
    <div class="col-sm-10">
	    <%= f.text_field :quant_max, class:"form-control", type:"number" %>
    </div>
  </div>

<br />
 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<%= f.submit(class:"btn btn-success") %>  
    </div>
  </div>
<% end %>

</form>