<%= form_for(encontro) do |f|%>
  <% if encontro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encontro.errors.count, "error") %> prohibited this encontro from being saved:</h2>

      <ul>
      <% encontro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titulo , class:""%>
    <div class="">
    	<%= f.text_field :titulo, class:"form-control" %>
    </div>
  </div>
<br />
  <div class="form-group">
    <%= f.label :descricao , class:""%>
    <div class="">
	    <%= f.text_area :descricao, class:"form-control" %>
    </div>
  </div>
<br />
  <div class="form-group">
    <%= f.label :tema , class:""%>
	<div class="">
	    <%= f.text_field :tema, class:"form-control" %>
	</div>
  </div>
<br />
  <div class="form-group">
    <%= f.label :inicio_inscricoes, class:"" %>
    <div class="">
	    <%= f.text_field :inicio_inscricoes, class:"form-control", type:"date" %>
    </div>
  </div>
<br />

  <div class="form-group">
    <%= f.label :fim_inscricoes , class:""%>
    <div class="">
	    <%= f.text_field :fim_inscricoes, class:"form-control", type:"date" %>
    </div>
  </div>
<br />

 <div class="form-group">
    <%= f.label :inicio_encontro , class:""%>
    <div class="">
	    <%= f.text_field :inicio_encontro, class:"form-control", type:"date" %>
    </div>
  </div>

<br />

 <div class="form-group">
    <%= f.label :fim_encontro , class:""%>
    <div class="">
	    <%= f.text_field :fim_encontro, class:"form-control", type:"date" %>
    </div>
  </div>

<br />
 <div class="form-group">
    <%= f.label :valor , class:""%>
    <div class="">
	    <%= f.text_field :valor, class:"form-control", type:"decimal" %>
    </div>
  </div>

<br />
 <div class="form-group">
    <%= f.label :quant_max , class:""%>
    <div class="">
	    <%= f.text_field :quant_max, class:"form-control", type:"number" %>
    </div>
  </div>

<%= f.hidden_field :criador_id, value: current_usuario.id %>
<br />
 <div class="form-group">
    <div class="actions">
      <% if @encontro.id.nil? %>
    	   <%= f.submit 'Criar Encontro', class:"btn btn-success" %>  
      <% else %>
         <%= f.submit 'Altualizar', class:"btn btn-success" %>  
      <% end %>
    </div>
  </div>
<% end %>

</form>