<p id="notice"><%= notice %></p>

<h1>Meus Encontros</h1>

<%= link_to 'Novo Encontro', new_encontro_path, class:"btn btn-primary" %>
<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <!-- <th>Descricao</th> -->
      <th>Tema</th>
      <th>Inicio inscricoes</th>
      <th>Fim inscricoes</th>
      <th>Inicio encontro</th>
      <th>Fim encontro</th>
      <th>Valor</th>
      <th>Quant max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encontros.each do |encontro| %>
      <tr>
        <td><%= link_to encontro.titulo, encontro %></td>
        <!-- <td><%= encontro.descricao %></td> -->
        <td><%= encontro.tema %></td>
        <td><%= encontro.inicio_inscricoes %></td>
        <td><%= encontro.fim_inscricoes %></td>
        <td><%= encontro.inicio_encontro %></td>
        <td><%= encontro.fim_encontro %></td>
        <td><%= encontro.valor %></td>
        <td><%= encontro.quant_max %></td>
        <td><%= link_to 'Editar', edit_encontro_path(encontro) , class:"btn btn-info"%></td>
        <td><%= link_to 'Deletar', encontro, method: :delete, data: { confirm: 'Você tem certeza?' } , class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
