<p id="notice"><%= notice %></p>

<div class="row para_direita">
  <%= link_to 'Novo Encontro', new_encontro_path, class:"btn btn-primary" %>
</div>
<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <!-- <th>Descricao</th> -->
      <th>Tema</th>
      <th>Inicio inscricoes</th>
      <th>Fim inscricoes</th>
      <th>Inicio encontro</th>
      <th>Fim encontro</th>
      <th>Valor</th>
      <th>Quant max</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @encontros.each do |encontro| %>
      <tr>
        <% if policy(encontro).edita? %>
          <td><%= link_to encontro.titulo, encontro %></td>
        <% else %>
        <td><%= encontro.titulo%></td>
        <% end %>
        <!-- <td><%= encontro.descricao %></td> -->
        <td><%= encontro.tema %></td>
        <td><%= encontro.inicio_inscricoes %></td>
        <td><%= encontro.fim_inscricoes %></td>
        <td><%= encontro.inicio_encontro %></td>
        <td><%= encontro.fim_encontro %></td>
        <td><%= encontro.valor %></td>
        <td><%= encontro.quant_max %></td>
        <% if policy(encontro).inscreve? %>
          <td colspan="2">
            <%= link_to 'Inscreva-se', new_participante_path(encontro_id: encontro) , class:"btn btn-info"%>
          </td>
        <% end %>

        <% if policy(encontro).edita? %>
          <td>
            <%= link_to 'Editar', edit_encontro_path(encontro) , class:"btn btn-info"%>      
          </td>
        <% end %>
        <% if policy(encontro).deleta? %>
          <td>
            <%= link_to 'Deletar', encontro, method: :delete, data: { confirm: 'Você tem certeza?' } , class:"btn btn-danger"%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
