<%= form_for(participante) do |f| %>
  <% if participante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participante.errors.count, "error") %> prohibited this participante from being saved:</h2>

      <ul>
      <% participante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :encontro_id %>
  <p>
  Bla bla bla da inscrição.
  </p>
  
  <div class="actions">
    <%= f.submit 'Confirmar inscrição', class: 'btn btn-primary' %>
  </div>
<% end %>
